@model Project3.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentID" />
            <div class="form-group">
                <label asp-for="SID" class="control-label"></label>
                <input asp-for="SID" class="form-control" />
                <span asp-validation-for="SID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intake" class="control-label"></label>
                <input asp-for="Intake" class="form-control" />
                <span asp-validation-for="Intake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration" class="control-label"></label>
                <input asp-for="Registration" class="form-control" />
                <span asp-validation-for="Registration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalID" class="control-label"></label>
                <select asp-for="GoalID" class="form-control" asp-items="ViewBag.GoalID"></select>
                <span asp-validation-for="GoalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BedaprogramID" class="control-label"></label>
                <select asp-for="BedaprogramID" class="form-control" asp-items="ViewBag.BedaprogramID"></select>
                <span asp-validation-for="BedaprogramID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvisorID" class="control-label"></label>
                <select asp-for="AdvisorID" class="form-control" asp-items="ViewBag.AdvisorID"></select>
                <span asp-validation-for="AdvisorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
